

  font-family:purple;
  color:blue;
}

 h2{
  font-family:#00ffff;
  color:#00b33c;
}

p{
 font-family: #00ffff;
}

body {
    background image: https://www.bing.com/images/search?view=detailV2&ccid=du%2bgYIkV&id=841F2468A8B9E0900CAE369A144B02E72FD78CA0&thid=OIP.du-gYIkVYgNkVSX2HbY2xwHaGW&mediaurl=http%3a%2f%2f1.bp.blogspot.com%2f-YfqyGwzIt44%2fUh9OOseQDVI%2fAAAAAAAAEVE%2f1V1_xzuDIwQ%2fs1600%2fBackground-Zumba8.jpg&exph=987&expw=1152&q=background&simid=608031981099880085&selectedIndex=6;
}
